<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div>
    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
    <h2 class = "centered">View Choice Columns By Category</h2>
</div>

<table class="centeredTable">
    <tr>
        <th>All</th>
    </tr>

    <tr>
        <td>
            <li>
                <a th:href="@{/list/choiceColumns(column='All',value='View All')}">View All</a>
            </li>
        </td>
    </tr>
</table>

</body>
</html>